.Navcontainer{
    display: flex;
    justify-content: space-between;
}
.links {
    margin-top: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
  }
  
  .nav-link {
    color: rgb(20, 20, 20);
    text-decoration: none; 
    font-weight: 550;
    font-size: medium;
  }
  
  .nav-link:hover {
    text-decoration: underline; 
  }
  
  